body {
    margin: 0px;
    padding: 0px;
    margin: 0px auto 0px auto;
}

header {
    margin: 0px auto 0px auto;
}

.header {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none; 
   }
a {
    text-decoration: none; /*убираем подчеркивание*/
  }

.vse {
    margin: 0px auto 0px auto;
    width: 85%;
}

/*темная часть шапки*/

.shapka1 {
          background-color: #0060ae;
          height: 32px;
         
         }

div.shapka1.d-flex justify-content-between {
    margin-top: 20px;
    width: 90%;
}

/*светлая часть шапки*/
.shapka2 {
    background-color: #29abe1;
    color: white;
    font-size: 10pt;
    color: white;
    height: 100%;
    width: 100%;

}


.shapka3 {
    background-color: white;
    color: black;
    font-size: 10pt;
    margin: 0px auto 0px auto;
    width: 85%;
}

.poisk {
    width: 550px;
}

/*списки-меню*/


.shapka4 {
    margin: 0px auto 0px auto;
    width: 100%;
}

nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}


/*карусель*/

.karysel {
    width: 400px;
}

.carousel-inner {
    width: 40px;
}

/* тема*/
.zaklad {
    width: 200px;
    height: 40px;
    background-color: #edebeb;
    padding: 7px;
    margin-left: 47px;
}


.tema {
    font-weight: bold;
    font-size: 15pt;
    margin-left: 47px;
}

.avtor {
    margin-left: 47px;
}

.ocenka {
    margin-left: 15px;
}


.harakteristika {
    font-size: 15px;
    width: 460px;
}
    

/*цена*/
.PravOtdel {
    width: 320px;
    height: 210px;
    background-color: #e9f3f5;
}

.PravOtdelText {
    margin: 20px;
    padding: 15px;
}

button {
    width: 230px;
}


.btn btn-primary btn-lg {
    background-color: #0060ae;
}

/*низ*/

div.niz {
    width: 320px;
}

/*аннотации*/

.annotacia {
    margin: 0px auto 0px auto;
    width: 100%;
    margin-top: 40px;

}

.annotacia1 {
    font-size: 14px;
    color: gray;
}

.annotacia2 {
    font-size: 15px;
}


.annotacia3 {
    font-size: 14px;
    color: gray;
}

/*спимок книг*/

.knigi {
    margin: 40px auto 10px 10px;

}

a.nav-link.kor {
    width: 85%;
    padding: 7px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-weight: bold;
    color: darkgrey;
    font-size: 11pt;
}


.cardd {
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    height: 395px;
}

.card-body {
    width: 250px;
    padding: -50px;
}

.d-flex align-items-center {
    margin: 20px 55px auto 55px;
}

img.card-img-top {
    margin: 20px 55px auto 55px;
    width: 150px;
}