body {
    margin: 0px;
    padding: 0px;
    margin: 0px auto 0px auto;
}

header {
    margin: 0px auto 0px auto;
}

.header {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none; 
   }
a {
    text-decoration: none; /*убираем подчеркивание*/
  }

.vse {
    margin: 0px auto 0px auto;
    width: 85%;
}

/*темная часть шапки*/

.shapka1 {
          background-color: #0060ae;
          height: 32px;
         
         }

div.shapka1.d-flex justify-content-between {
    margin-top: 20px;
    width: 90%;
}

/*светлая часть шапки*/
.shapka2 {
    background-color: #29abe1;
    color: white;
    font-size: 10pt;
    color: white;
    height: 100%;
    width: 100%;

}

.shapka3 {
    background-color: white;
    color: black;
    font-size: 10pt;
    margin: 0px auto 0px auto;
    width: 85%;
}

.poisk {
    width: 550px;
}

/*основа*/

/*позиции*/

table.tablica {
    width: 85%;
    margin: 0px auto 0px auto;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px solid gainsboro;
    display: block;
}

tbody.container.text-center.mt-3.poz {
    height: 100px;
    margin: 20px auto 10px auto;
    border: 1px solid gainsboro;
    border-radius: 16px;
    font-size: 14pt;
    align-items: center;
    justify-content: space-between;
}

td.p-2.img img {
    border-radius: 16px;
    width: 70%;
    margin-left: 30px;
}

td.p-2.img {
    width: 20%;
    height: 97%;
    text-align: left;
}

td.p-2.name {
    width: 30%;
    text-align: center;
}

td.p-2.id_avtors {
    width: 15%;
    text-align: center;
}

td.p-2.description {
    width: 25%;
    text-align: center;
}

td.p-2.cold {
    width: 10%;
    text-align: center;
}

/*подвал*/

.footer1 {
    background-color: #29abe1;
    color: white;
    font-size: 10pt;
    color: white;
    height: 100%;
    width: 100%;
}

.zagolovok {
    font-size: 15px;
    font-weight: 700;
    padding: 20px 0 20px 0;
}

.hto {
    color: #95d9ed;
    font-size: 12px;
    padding-left: 110px;
}
